@import '@fontsource/poppins/700';
@import '@fontsource/poppins/400';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #212121;
	font-family: 'Poppins', 'Open Sans', 'Helvetica Neue', sans-serif;
	background: rgb(0, 231, 255);
	background: linear-gradient(45deg, rgba(0, 231, 255, 1) 0%, rgba(249, 0, 255, 1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
